* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 15px;
}

body {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
    overflow: hidden;

    font-family: sans-serif;

    cursor: default;

    touch-action: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;

    font-family: 'Azeret Mono', monospace;
}

.wrapper {
    height: 100vh;
}

button:hover {
    cursor: pointer;
}


/* promo */
.menu__promo {
    font-size: 1.8rem;
}

.promo__header {
    margin-bottom: 10px;
}

.menu__promo input {
    background-color: black;
    height: 20px;
    color: white;
}

.menu__promo-send {
    width: 40px;
    padding: 5px;
}


/* info */

.menu__info {
    flex-direction: column;
    padding-left: 2vw;
}

.info__button {
    padding-bottom: 5px;
    width: 15rem;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.menu__info span {
    text-decoration: none;
    position: relative;
    color: #5a5a5a;
    display: inline-block;
}

.btn-1 {
    padding: 5px 10px;
    border: 2px solid #4A90E2;
    transition: all 300ms ease;
    box-shadow: 0px 2px 5px 1px rgba(black, 0.2);
    width: 100%;
}

.btn-1:hover {
    color: white; 
    box-shadow: none;
    cursor: pointer;
}

/* equip */

.menu__equip {
    font-size: inherit;
}

.equip__header {
    position: absolute;
}

.equip__main {
    margin-top: 40px;
}

.equip__selected {
    padding-left: 10px;
    color: yellow;
    text-transform: uppercase;
}

.equip__sell {
    font-size: inherit;
    display: none;
}

.equip__title {
    display: flex;
    font-size: 2rem;
}

.equip__sell-button {
    margin-left: 15px;
    text-transform: uppercase;
    display: inline;
    background-color: rgb(255, 10, 51);
    color: white;
    height: 30px;
    width: 80px;
}

.equip__content img {
    margin-right: 3px;
}

.equip__content img:hover {
    cursor: pointer;
}

.equip__item-title {
    font-size: 2.2rem;
}

.equip__item-text {
    font-size: 0.9em;
}

.equip__guns-title {
    color: rgb(255, 51, 0);
}

.equip__shields-title {
    color: rgb(0, 110, 255);
}

/* shop */

.menu__shop {
    height: 100%;
    display: block;
}

.menu__shop button:hover {
    background-color:rgba(255, 177, 8)
}

.shop__items {
    font-size: 25px;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.shop__item {
    width: 100%;
    border-top: 2px solid red;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.shop__item-name {
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 0 0 10px;
    margin-bottom: 1vh;
    color: rgb(0, 144, 180);
}

.shop__item-description {
    font-size: 0.8em;
}

.shop__sell {
    top: 3px;
}

.shop__button {
    position: relative;
    top: -20px;
    left: 5px;
    padding: 5px;
    width: 80px;
    font-size: 15px;
}


/* menu */

.menu {
    position: fixed;
    width: 62vw;
    height: 62vh;
    background: rgba(0, 0, 0, 0.7);
    left: 50%;
    top: 50%;
    margin-left: -31vw;
    margin-top: -31vh;
    z-index: 100;

    font-size: 2vw;
    color: white;
    font-family: 'Times New Roman', Times, sans-serif;

    grid-template-columns: 2fr 12fr;
    grid-template-areas: "nav content";
    display: none;
}

.menu__content {
    grid-area: content;
    overflow: auto;
    position: relative;
}

.menu__container {
    margin: 10px;
}

.menu__section {
    position: absolute;
    display: none;
}

.menu__nav {
    grid-area: nav;
    background-color: rgb(21, 27, 49);
    font-family: 'Pathway Gothic One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__nav-container {
    flex: 1 1 auto;
}

.menu__nav-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__nav-elem {
    background: linear-gradient(to right bottom, rgb(56, 56, 104) 50%, #660074 70%);
    border-top: 0.3vh groove rgb(255, 194, 82);
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 0 3px black;
}

.menu__nav-elem:hover {
    background: linear-gradient(to right bottom, rgb(255, 38, 0) 50%, #660074 70%);
}

.menu__nav-elem:first-child {
    border: none;
}

.menu__nav-elem-text {
    text-align: center;
}

.menu__quit {
    background: rgb(16, 16, 53);
    cursor: pointer;
    text-align: center;
}

.menu__quit:hover {
    background-color: rgb(16, 61, 99);
}


/* profile */

.profile {
    width: 400px;
    background-color: rgba(110, 110, 255, 0.1);
    position: relative;
    left: 100%;
    margin-left: -400px;
    margin-bottom: 10px;
    z-index: 100;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 2px;
    z-index: -1;
}

.profile__elem {
    width: 50%;
    margin: 0.1em 0;
}

.profile__value {
    position: relative;
    left: -3px;
}

.profile__rnk {
    letter-spacing: -0.05em;
}

.stats {
    color: rgb(92, 92, 233);
    font-size: 1.25em;
}


/* ship */

.ship {
    font-family: Arial, Helvetica;
}

.ship-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ship__above {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    top: -18px;
}

.ship__damage {
    position: absolute;
    color: rgb(204, 151, 5);
    letter-spacing: 0.1em;
    top: 50%;
    left: 50%;
    margin-top: -3.6em;
    margin-left: 1.4em;
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    z-index: 10;
    transition: ease 0.5s;
    opacity: 0;
    animation-name: damage;
    animation-duration: 1.5s;
    text-shadow: 0.15em 0 0.15em #000, 
    0 0.15em 0.15em #000, 
    -0.15em 0 0.15em #000, 
    0 -0.15em 0.15em #000;
}

.ship__repair {
    color: rgb(0, 107, 27);
}

@keyframes damage {
    from {
        opacity: 100%;
    }

    60% {
        margin-top: -6.2em;
        margin-left: 2.2em;
    }

    80% {
        font-size: 2em;
        opacity: 100%;
    }

    to {
        margin-top: -6.25em;
        margin-left: 2.23em;
        font-size: 2em;
    }
}

.ship__hp {
    width: 125px;
    height: 5.5px;
    position: relative;
    background: #000;
    margin-bottom: 2px;
}

.ship__hp-line {
    width: 100%;
    height: 100%;
    background: green;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    transition: 0.2s linear;
}

.ship__sh-line {
    width: 100%;
    height: 100%;
    background: rgb(0, 67, 212);
    transition: 0.2s linear;
}

.ship__image {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
}

.ship__below {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.ship__warrank {
    position: relative;
}

.ship__warrank img {
    position: absolute;
    left: -42px;
    top: -19px;
}

.ship__nickname {
    font-size: 1.3em;
    color: white;
    letter-spacing: 1.9px;
}

.ship__bottom {
    font-size: 0.9em;
    text-align: center;
    letter-spacing: 1.2px;
    color: white;
}

.hitpoints {
    margin-bottom: 1px;
}

#ranks {
    background: url(../images/icons/ranks.png) no-repeat;
    height: 32px;
    width: 20px;
    position: relative;
    top: 6px;
    left: -6px;
}

#ranks.rank1 {
    background-position: -140px 0;
}

#ranks.rank2 {
    background-position: -180px 0;
}

#ranks.rank3 {
    background-position: -60px 0;
}

#ranks.rank4 {
    background-position: -120px 0;
}

#ranks.rank5 {
    background-position: -220px 0;
}

#ranks.rank6 {
    background-position: -20px 0;
}

#ranks.rank7 {
    background-position: -80px 0;
}

#ranks.rank8 {
    background-position: 0 0;
}

#ranks.rank9 {
    background-position: -160px 0;
}

#ranks.rank10 {
    background-position: -100px 0;
}

#ranks.rankO {
    background-position: -200px 0;
}

#ranks.rankA {
    background-position: -40px 0;
}


/* pve */

.pve {
    position: fixed;
    left: 100%;
    top: 6em;
    margin-left: -140px;
}

.pve__container {
    height: 100%;
    width: 100%;
}

.pve button {
    background-color: white;
    width: 80px;
    margin: 0 25px;
}

.pve button:hover {
    background-color:rgb(255, 72, 0);
}

.pve__description {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.pve__description-text {
    color: white;
    font-size: 1.2em;
}

.pve__row {
    background: rgba(0, 0, 0, 0.5);
    padding: 0 5px 5px 5px;
}

.pve__enemies {
    font-size: 1.3em;
    color:rgba(45, 117, 96);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.pve__enemy {
    margin: 3px 0;
}

.pve__enemy button {
    padding: 3px;
    border-radius: 5px;
}


/* buttons */

.auto {
    position: fixed;
    top: 100%;
    margin-top: -61px;
    left: 1px;
}

.auto__button {
    width: 120px;
    height: 60px;
    background: rgb(204, 0, 85);
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    border-radius: 6px;
    font-size: 18px;
}

.auto__button-off {
    background: rgb(0, 79, 182);
}

.wrapper__menu-button {
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 100%;
    margin-top: -70px;
    margin-left: -35px;
    background: url('../images/icons/menu.svg') no-repeat;
    background-size: cover;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .menu {
        grid-template-columns: 2fr 11fr;
    }
}

@media (max-width: 991px) {
    .menu {
        font-size: 2.3vw;
    }
}


@media (max-width: 767px) {
    html {
        font-size: 12px;
    }

    .profile {
        width: 320px;
        margin-left: -320px;
    }

    .ship__image img {
        width: 50%;
        height: 50%;
    }

    .ship__hp {
        width: 85px;
    }

    .ship__nickname {
        letter-spacing: 1.2px;
    }

    .menu {
        width: 96vw;
        height: 80vh;
        margin-left: -48vw;
        margin-top: -40vh;
        font-size: 3.3vw;
    }

    .menu__quit {
        padding: 7px 0;
    }

    .wrapper__menu-button {
        width: 60px;
        height: 60px;
        margin-top: -60px;
        margin-left: -30px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 10px;
    }

    .profile {
        width: 260px;
        margin-left: -260px;
    }

    .ship__image img {
        width: 40%;
        height: 40%;
    }

    .ship__hp {
        width: 75px;
    }

    .pve {
        margin-left: -85px;
    }

    .pve button {
        margin: 0 0;
        width: 75px;
    }
    
    .auto__button {
        width: 80px;
        letter-spacing: 1px;
        font-size: 15px;
    }

    .menu {
        width: 96vw;
        height: 80vh;
        margin-left: -48vw;
        margin-top: -40vh;
        font-size: 4.5vw;
        grid-template-columns: 2fr 9fr;
    }
}